@font-face {
    font-family: Pilat;
    src: url('fonts/PilatExtended-Book.ttf');
}

body{
    background-color: #212832;
    font-family: Pilat;
    max-width: 400px;
    margin: 0 auto;
    font-weight: bold;
}
.contain{
    background-color: #28343B;
    padding: 1rem;
}
h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
h1 span{
    color: #FED36A;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    border: 3px solid #FED36A;
    border-radius: 3px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

input[type="text"]:focus {
    border-radius: 3px;
    outline: none;
}
input[placeholder]{
    font-size: 0.9rem;
    font-family: inter;
}

#btn{
    background-color: #FED36A;
    border: none;
    border-radius: 3px;
    font-family: inter;
    font-size: inherit;
    padding: 0.5rem;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin-top: 0.5rem;
}
#btn:hover{
    background-color: #d69c09;
}

#resetBtn{
    background-color: white;
    border: none;
    border-radius: 3px;
    font-family: inter;
    font-size: inherit;
    padding: 0.5rem;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin-top: 0.5rem;
}
#resetBtn:hover{
    background-color: #324650;
}

.wrap-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
ul{
    padding-inline-start: 0rem;
}
ul  li{
    vertical-align: middle;
}
span .todo-span{
    
    vertical-align: middle;
}

ul .ulStyle {
    background-color: #324650;
    list-style-type: none;
    font-family: inter;
    border-radius: 3px;
    padding: 0.9rem;
    color: white;
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}

input[type="checkbox" i]{
    margin: 0rem 0.5rem 0rem 0rem;
    font-size: 5rem;
    vertical-align: middle;
}

input[type="checkbox"] {
    width: 15px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    
}
input[type="checkbox"] {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white; /* Yellow border */
    border-radius: 3px; /* Makes it circular */
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  input[type="checkbox"]:checked {
    background-color: #212832; /* Yellow fill when checked */
    border-color: #212832;
  }
  
  input[type="checkbox"]:checked::after {
    content: '✓';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background-color: #212832;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.slash{
    opacity: 0.3;
    color: grey;
    text-decoration: line-through;
}

span .todo-list{
    margin-bottom: 2rem;
}

.flexTodo{
    display: flex;
    flex-direction: row;
}
footer{
    color: white;
    font-family: inter;
    text-align: center;
    margin-top: 1rem;
}


/* MEDIA QUERIES */
@media all and (min-width:768px) {
    h1{
        margin-top: 7rem;
    }
}